<!-- views/partials/header.ejs -->

<!-- START NAVBAR -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FoodTrack</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" action="/login">
        <div class="form-group">

          <% if (username) { %>
            <a href="/logout" class="btn btn-success">Log out</a>
            <% }else{  %>
              <input type="text" id="signinEmailInput" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" id="signinPasswordInput" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success signInBtn">Sign in</button>
            <button type="submit" class="btn btn-success"><a href="/signup">Sign up</a></button>
            <%}  %>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>
