<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../styles/style.css">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <% include ../partials/header %>
          <!-- START THE COVER HEADING -->
            <div class="inner cover">
              <h1 class="cover-heading"></h1>
              <p class="lead">There is an easy way of tracking what you eat... </p>
              <p class="lead">
              <a id = "learnMoreButton" href="#foodTrackIntroInfo" class="btn btn-lg btn-default learnMoreButtonClass">Learn more</a>
              </p>
            </div>
          <!-- END THE COVER HEADING -->

          <!-- START THE FEATURETTES -->
          <div class= "jumbotron vertical-center foodTrackIntroInfo" id="foodTrackIntroInfo">
            <hr class="featurette-divider" id="divider">

            <div class="row featurette" id="firstDivIntroToFoodtrack">
              <div class="col-md-7">
                <h2 class="featurette-heading">All the information of your meals in one place.</h2>
                <p class="lead"><span class="text-muted">Never stress again about losing your food diary! With FoodTrack you can record and manage information for all your meals and access it everywhere you go.</span></p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto homeImg1" src="../images/homeImg1.jpg" alt="Generic placeholder image">
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7 push-md-5">
                <h2 class="featurette-heading">Get recommendations about your food.</h2>
                <p class="lead"><span class="text-muted">Do you want to learn to eat better? FoodTrack gives you recommendations about foods that are good and bad for you.</span></p>
              </div>
              <div class="col-md-5 pull-md-7">
                <img class="featurette-image img-fluid mx-auto homeImg2" src="../images/homeImg2.jpg" alt="Generic placeholder image">
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Get a daily report.</h2>
                <p class="lead"><span class="text-muted">Do you want to know how many nutrients you are eating everyday? FoodTrack gives you a daily report that sums up all the nutrients that you consumed. </span></p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto homeImg3" src="../images/homeImg3.jpg" alt="Generic placeholder image">
              </div>
            </div>
            <hr class="featurette-divider">
          </div>
      <!-- /END THE FEATURETTES -->
        </div>
      </div>
    </div>
    <footer>
      <div class="mastfoot container">
        <div class="inner">
          <p class="footer text-center">FoodTrack by  <a href="https://github.com/mariajosetamayo">Maria Jose Tamayo</a>.</p>
        </div>
      </div>
      <% include ../partials/footer %>
    </footer>
    <script type="text/javascript" src="../scripts/home.js"></script>
  </body>
</html>
