<!-- views/pages/add-food.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="../styles/report.css">
  </head>
  <body>
    <div class="container">
      <% include ../partials/header %>
      <div class='container'>
        <h1 class="titleTable" id="mealsTableTitle"></h1>
          <table class="table" id = "mealsTable">
            <thead>
              <tr>
                <th>Name and portion</th>
              </tr>
            </thead>
            <tbody id="mealsTableBody">
            </tbody>
          </table>
        </div>
    </div>

    <div class="container">
        <div class="container">
          <h1 id="nutritionInfoTitle"></h1>
          <table class="table">
            <thead>
              <tr>
                <th>Nutrients</th>
                <th>Total amount</th>
              </tr>
            </thead>
            <tbody id="reportTableBody">
            </tbody>
          </table>
          <a href="/user-home" class="btn btn-lg btn-success homeBtn">Home</a>
        </div>
         
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <script type="text/javascript" src="../report.js"></script>
  </body>
</html>
