body{
  background-color: #333333;
}

.jumbotron{
    background-color: #333333;
    color: white;
}

.welcomeDiv{
    margin-top: 10%;
}


.list-group{
    margin-top: 8%;
}

.logoutBtn{
    margin-top: 1% ;
}

.list-group{
	background-image: #4caf50;
}

@media (min-width: 0px) and (max-width: 450px){
	.jumbotron{
		margin-top: 20%;
	}
}